.nav__container {
    background: linear-gradient(-4deg, rgb(30, 0, 72), rgb(1, 4, 46), rgb(1, 4, 46), orange);
    text-align: center;
    background-size: 400% 400%;
    animation: changeBG 20s ease infinite;
    color: #fff;
    width: 100vw;
    height: 12vh;
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: var(--box-shadow);
    z-index: 999;
}

@keyframes changeBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.nav__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__logo img {
    width: 80px;
    height: 80px;
    margin-left: 4rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.nav__container-links {
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.nav__login,
.nav__links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}

.nav__links a:hover,
.nav__login p:hover {
    color: tomato;
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {}


/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

@media screen and (max-width: 600px) {}