@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,600;1,300&display=swap');

:root {

  --color-bg: rgb(1, 0, 61);
  --color-bg-contrast: rgb(235, 137, 0);

  --color-white: #fff;
  --color-black: #000;

  --font-size-h1: 4rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.5rem;
  --font-size-p: 1.2rem;

  --font-size-h1-md: 3rem;
  --font-size-h2-md: 2rem;
  --font-size-h3-md: 1.2rem;
  --font-size-p-md: 1rem;

  --font-size-h1-sm: 1.9rem;
  --font-size-h2-sm: 1.5rem;
  --font-size-h3-sm: 1rem;


  --box-shadow: 0 0 7px 0 #000;
  --text-shadow: 0 0 7px #000;
}

html {
  font-family: 'Mali', cursive;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-align: center;
  color: var(--color-light);
}

a:hover {
  color: var(--color-bg-variant);
}

button {
  border-radius: 7px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

ul {
  list-style-type: none;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {}


/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */

@media screen and (max-width: 600px) {}