.clearfix:after,
.card-header:after,
.card-item:after {
	content: "";
	display: table;
	clear: both;
}

.card__debt {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	float: left;
	width: 100%;
	margin-left: 0.75rem;
	padding-right: 0.75rem;
	padding-left: 0;
	border-right: 1px solid #d7d9e5;
}

.card__debt:last-of-type {
	border-right: none;
}

.card-header {
	display: block;
	width: 100%;
}

.card-header-title {
	margin: 0;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 0.5rem;
}

.card-header-status {
	color: #5f676b;
	font-size: 0.9rem;
}

.card-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	width: 30%;
	height: 250px;
	padding: 0.75rem 1.5rem 0.75rem 1.25rem;
	margin: 1.5rem 0;
	border-left: 0.25rem solid #999ebd;
	border-radius: 3px;
	box-shadow: 0 10px 6px -6px #777;
	transition: background-color 0.24s ease;
}

.card-item .mercadopago-button {
	background-color: var(--color-bg);
	box-shadow: none;
}

.card-item .mercadopago-button::after {
	content: ' ahora';
}

.card-item:hover {
	background: #f5f5f5;
}

.card-loss {
	border-color: #e92e00;
}

.card-loss .card-price {
	color: #e92e00;
}

.card-title {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 0;
}

.card-info {
	font-size: 0.9rem;
}

.card-menu {
	color: #929a9e;
	font-size: 0.9rem;
}

.card-menu-item {
	cursor: pointer;
}

.card-price {

	font-weight: bolder;
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 0;
}

.card-overdue {
	color: #e92e00;
	font-weight: bold;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline li {
	display: inline-block;
	margin-right: 0.25rem;
}

.right {
	align-self: center;
}

.win {
	color: #5aa12c;
}

.loss {
	color: #e92e00;
}