.update_user-container {
    position: absolute;
    top: 3vh;
    right: 3vw;
}

.update_user-container button {
    border: 1px solid transparent;
    margin-left: 1rem;
    border-radius: 0;
    background-color: rgb(8, 161, 226);
    font-weight: bolder;
    color: azure;
}