.contact-form-global-container {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

.contact-form {
  min-width: 500px;
}

.form__content-inputs.input-contact-footer {
  width: 100%;
}

.textarea-contact {
  width: 90%;
  background-color: transparent;
  border: none;
  resize: none;
  align-self: start;
  border-bottom: 1px solid grey;
  font-size: 1.1rem;
  color: white;
  font-weight: 400;
}

.contactForm-leftData-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-networks {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.social-networks>* {
  /**/
  display: inline-block;
  position: absolute;
  transform: translate(0, 0);
  /**/
  cursor: pointer;
  font-size: 1.5rem;
}

.social-networks a:nth-child(1):hover {
  color: #1877F2;
}

.social-networks a:nth-child(2):hover {
  color: #1DA1F2;
}

.social-networks a:nth-child(3):hover {
  color: #E4405F;
}

.whatsapp-icon>* {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background-color: #25d366;
  border-radius: 50%;
  transition: all 1s ease-in-out;
  position: fixed;
  top: 35vh;
  left: 20px;
  z-index: 99999999;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }

  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

.icon-socials {
  color: #fff;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}

.icon-socials span {
  color: #ffffff;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-socials .color-bg-facebook {
  background: #1877F2;
}

.icon-socials .color-bg-twitter {
  background: #1DA1F2;
}

.icon-socials .color-bg-instagram {
  background: #E4405F;
}


.icon-socials .color-bg-facebook:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1877F2;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

.icon-socials .color-bg-twitter:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1DA1F2;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

.icon-socials .color-bg-instagram:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #E4405F;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

.icon-socials:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .contact-form-global-container {
    flex-direction: column;
    gap: 2rem;
  }

  .social-networks {
    flex-direction: row;
  }

  .contact-form {
    display: flex;
    justify-content: center;
    min-width: 100%;
  }
}