#home {
    background-color: #eee;
}

.home__gruops {
    padding-top: 6rem;
    background: fixed url(../images/fondogroups.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    margin: 0 auto;
}

.home__carrousel {
    padding-top: 10vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_calendar {
    padding: 5rem 0;
    height: auto;
}

.home_about {
    padding-top: 5rem;
    position: relative;
    background-color: #eee;
    height: auto;
}

.home_footer {
    padding: 2rem;
    color: white;
    background: linear-gradient(-4deg, orange, rgb(30, 0, 72), rgb(1, 4, 46), rgb(1, 4, 46), rgb(1, 4, 46));
    background-size: 500% 200%;
    animation: changeBG 10s ease infinite;
    height: fit-content;
}

.back-up {
    background-color: var(--color-bg);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 90vh;
    right: 80px;
    z-index: 9999;
    animation-name: pulseBack;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.back-up::after {
    color: var(--color-bg-contrast);
    height: 0;
    width: 0;
    font-size: 3rem;
    margin-top: 5px;
    margin-left: -13px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    content: '^';
}


@keyframes pulseBack {
    0% {
        box-shadow: 0 0 0 0 rgba(222, 222, 233, 0.7);
    }

    80% {
        box-shadow: 0 0 0 14px rgba(13, 42, 24, 0);
    }
}


@keyframes changeBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {
    .home__container {
        background: fixed url(../images/Fondo-app.jpg);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__container h1 {
        font-size: var(--font-size-h1-md);
    }

}


/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */


@media (max-width: 640px) {
    .home__container h1 {
        font-size: var(--font-size-h1-sm);
    }

    .home_calendar {
        padding-top: 2rem;
    }

    .back-up {
        height: 40px;
        width: 40px;
        top: 90vh;
        right:20px;
    }

    .back-up::after {
        font-size: 2rem;
        margin-top: 8px;
        margin-left: -10px;
        position: absolute;
        font-family: 'Courier New', Courier, monospace;
        content: '^';
    }
}