.home__container {
    background: fixed url(../images/banner-3.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container h1 {
    margin: 0;
    color: var(--color-white);
    font-size: var(--font-size-h1);
    text-shadow: var(--text-shadow);
    width: 100vw;
    text-align: center;
    background-color: rgba(46, 41, 41, 0.8);
}

.home__gruops {
    width: 80vw;
    margin: 0 auto;
    background-color: #ddd;
}

.home__gruop {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.home__gruop .home__group-content {
    display: flex;
}

.home__gruop .home__group-content img {
    width: 500px;
}


/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1024px) {
    .home__container {
        background: fixed url(../images/Fondo-app.jpg);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__container h1 {
        font-size: var(--font-size-h1-md);
    }

}


/* ------------- MEDIA QUERIES (SMALL DEVICES) ------------- */


@media (min-width: 640px) {
    .home__container h1 {
        font-size: var(--font-size-h1-sm);
    }

   
}