.groups__container {
    display: flex;
    flex-direction: column;
}

.groups__container .selects__container {
    background: linear-gradient(-4deg, rgb(30, 0, 72), rgb(1, 4, 46), rgb(1, 4, 46), orange);
    text-align: center;
    background-size: 400% 400%;
    animation: changeBG 20s ease infinite;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--color-bg);
    color: #fff;
    box-shadow: var(--box-shadow);
}

@keyframes changeBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}