/* .DetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 400px;
    max-width: 500px;
}

.DetailContainer header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DetailContainer main {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    
} */

.detail-event-container {
    
}