.formEventContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.itemBodyContainer {
  width: 100%;
}

.groupsSelected {
  display: flex;
}
.groupsSelectedContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  min-height: 100px;
  max-height: 150px;
}

.itemHeaderContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
}
.itemHeaderContainer .item {
  margin-top: 20px;
}
.itemHeaderContainer button {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgb(249, 66, 66);
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease all;
  border-radius: 5px;
}
.itemHeaderContainer button:hover {
  background-color: rgb(249, 48, 48);
}

.item {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.item select {
  border-radius: 8px;
  width: 220px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item input {
  width: 220px;
  height: 25px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputsRadio {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.inputsRadio input {
  margin: 8px 4px 0px 10px;
}

.item textarea {
  width: 220px;
  height: 100px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  resize: none;
}

.noRepetitiveInputs,
.repetitiveItems {
  display: flex;
}

.noRepetitiveInputs input {
  width: 150px;
}

.repetitiveInputs {
  display: flex;
  flex-direction: column;
}
.repetitiveInputs input {
  width: 150px;
}
.repetitiveInputs input {
  width: 150px;
}
.selectDays {
  width: 90px;
}

.buttonSubmitEvent {
  width: 90px;
  height: 30px;
  border: 1px;
  border-radius: 5px;
  box-shadow: none;
  background-color: #386fbd;
  color: white;
}
.buttonSubmitEvent:hover {
  background-color: #5897ee;
}

.containerDays {
  width: 98%;
  min-height: 50px;
  max-height: 80px;
  margin: 5px;
  background-color: rgb(200, 201, 202);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}
