.shop__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.519)
}

.create__container-product {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.644);
}

.create__product-title {
  text-align: center;
  color: #fff;
  text-shadow: var(--text-shadow);
}