.grid-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-area: auto;
  
}

.card-container {
  border: 2px solid blue;
  border-radius: 12px;
  background-color: gray;
}

.show-products {
  background: linear-gradient(to right, rgb(153, 153, 180), rgb(179, 95, 228)) 
}

.create-products {
  background: linear-gradient(to right, rgb(153, 153, 180), rgb(179, 95, 228))
}

.clean-product {
  background: linear-gradient(to right, rgb(153, 153, 180), rgb(179, 95, 228))
}

.filter-field {
  background-color: rgb(240, 223, 131);
}

.home-button {
  color:black;
  background: linear-gradient(to right, rgb(153, 153, 180), rgb(179, 95, 228));
}
.back {
  color: black;
}


.bg-shop {
  background: linear-gradient(to right, rgb(62, 62, 240), rgb(39, 25, 71));
}




