.aboutUs-container-main {
  margin-top: -20px;
  background-color: #ccc;
}

.image-container1 {
  height: 250px;
  width: 250px;
  background: url('https://w0.peakpx.com/wallpaper/454/966/HD-wallpaper-red-white-volleyball-on-court-floor-volleyball.jpg');
}