.bodyForm {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.container {
    background-color: white;
    width: 800px;
    height: 630px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border: 1px solid rgb(84, 84, 84);
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: auto;
    height: 60vh;
    gap: 10px;
}
.containerItems {
    width: 100%;
    height: 50px;
    background-color: white;
}