.productDetail__container {
    width: 60vw;
    max-height: 80vh;
    color: rgb(252, 252, 252);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #fff;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    overflow: hidden;
    padding: 1rem;
    z-index: 10;
    position: relative;
}

.productDetail__container-span {
    height: 1050px;
    width: 1050px;
    position: absolute;
    margin-left: 300px;
    z-index: -1;
    transform: rotate(45deg);
    background-color: rgba(2, 2, 3, 0.8);
    bottom: 0;
}

.image-detail {
    float: left;
    width: 50%;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    margin-right: 20px;
}

.detail-product-title {
    text-align: center;
    margin-top: 0;
}

.price-detail {
    text-shadow: 0 0 4px rgb(29, 12, 12);
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: orange;
}

.modify_container-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}

.size-container {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.span-pedido {
    position: absolute;
    left: 10px;
    top: 60px;
    text-shadow: 0 0 1px #4a3c3c;
    color: rgb(255, 166, 0);
    font-weight: bolder;
    text-shadow: 0 0 4px rgb(29, 12, 12);
}

.close-detail {
    background-color: rgb(1, 0, 60);
    border: 1px solid transparent;
    box-shadow: 0 0 1px 0 white;
    color: white;
}

.description-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
}

.description-content>button {
    width: fit-content;
    align-self: center;
}

.detail_edit-product {
    padding: 1rem;
    position: absolute;
    border: 1px solid white;
    top: 10%;
    left: 10%;
}

.button-detail-cart {
    --background: rgb(1, 0, 60);
    --text: #fff;
    --cart: #fff;
    --tick: var(--background);
    position: relative;
    border: none;
    background: none;
    padding: 8px 28px;
    border-radius: 8px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: var(--text);
    background: rgb(1, 0, 46);
    -webkit-transform: scale(var(--scale, 1));
    transform: scale(var(--scale, 1));
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
    transition: -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
    transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
    transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27), -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}

.button-detail-cart:active {
    --scale: .95;
}

.button-detail-cart span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-left: -8px;
    line-height: 26px;
    -webkit-transform: translateY(var(--span-y, 0));
    transform: translateY(var(--span-y, 0));
    -webkit-transition: -webkit-transform .7s ease;
    transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    transition: transform .7s ease, -webkit-transform .7s ease;
}

.button-detail-cart span:before,
.button-detail-cart span:after {
    content: '';
    width: var(--w, 2px);
    height: var(--h, 14px);
    border-radius: 1px;
    position: absolute;
    left: var(--l, 8px);
    top: var(--t, 6px);
    background: currentColor;
    -webkit-transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
    transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
    -webkit-transition: -webkit-transform .65s ease .05s;
    transition: -webkit-transform .65s ease .05s;
    transition: transform .65s ease .05s;
    transition: transform .65s ease .05s, -webkit-transform .65s ease .05s;
}

.button-detail-cart span:after {
    --w: 14px;
    --h: 2px;
    --l: 2px;
    --t: 12px;
}

.button-detail-cart .cart-detail {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -13px 0 0 -18px;
    -webkit-transform-origin: 12px 23px;
    transform-origin: 12px 23px;
    -webkit-transform: translateX(-120px) rotate(-18deg);
    transform: translateX(-120px) rotate(-18deg);
}

.button-detail-cart .cart-detail:before,
.button-detail-cart .cart-detail:after {
    content: '';
    position: absolute;
}

.button-detail-cart .cart-detail:before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px var(--cart);
    bottom: 0;
    left: 9px;
    -webkit-filter: drop-shadow(11px 0 0 var(--cart));
    filter: drop-shadow(11px 0 0 var(--cart));
}

.button-detail-cart .cart-detail:after {
    width: 16px;
    height: 9px;
    background: var(--cart);
    left: 9px;
    bottom: 7px;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
    transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
    -webkit-transition: -webkit-transform 1.2s ease var(--fill-d);
    transition: -webkit-transform 1.2s ease var(--fill-d);
    transition: transform 1.2s ease var(--fill-d);
    transition: transform 1.2s ease var(--fill-d), -webkit-transform 1.2s ease var(--fill-d);
}

.button-detail-cart .cart-detail svg {
    z-index: 1;
    width: 36px;
    height: 26px;
    display: block;
    position: relative;
    fill: none;
    stroke: var(--cart);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.button-detail-cart .cart-detail svg polyline:last-child {
    stroke: var(--tick);
    stroke-dasharray: 10px;
    stroke-dashoffset: var(--offset, 10px);
    -webkit-transition: stroke-dashoffset 0.4s ease var(--offset-d);
    transition: stroke-dashoffset 0.4s ease var(--offset-d);
}

.button-detail-cart.loading {
    --scale: .95;
    --span-y: -32px;
    --icon-r: 180deg;
    --fill: 1;
    --fill-d: .8s;
    --offset: 0;
    --offset-d: 1.73s;
}

.button-detail-cart.loading .cart-detail {
    -webkit-animation: cart 3.4s linear forwards .2s;
    animation: cart 3.4s linear forwards .2s;
}

@-webkit-keyframes cart {
    12.5% {
        -webkit-transform: translateX(-60px) rotate(-18deg);
        transform: translateX(-60px) rotate(-18deg);
    }

    25%,
    45%,
    55%,
    75% {
        -webkit-transform: none;
        transform: none;
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    44%,
    56% {
        -webkit-transform-origin: 12px 23px;
        transform-origin: 12px 23px;
    }

    45%,
    55% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    87.5% {
        -webkit-transform: translateX(70px) rotate(-18deg);
        transform: translateX(70px) rotate(-18deg);
    }

    100% {
        -webkit-transform: translateX(140px) rotate(-18deg);
        transform: translateX(140px) rotate(-18deg);
    }
}

@keyframes cart {
    12.5% {
        -webkit-transform: translateX(-60px) rotate(-18deg);
        transform: translateX(-60px) rotate(-18deg);
    }

    25%,
    45%,
    55%,
    75% {
        -webkit-transform: none;
        transform: none;
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    44%,
    56% {
        -webkit-transform-origin: 12px 23px;
        transform-origin: 12px 23px;
    }

    45%,
    55% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    87.5% {
        -webkit-transform: translateX(70px) rotate(-18deg);
        transform: translateX(70px) rotate(-18deg);
    }

    100% {
        -webkit-transform: translateX(140px) rotate(-18deg);
        transform: translateX(140px) rotate(-18deg);
    }
}

/*                        asd                                 */

.toggle {
    position: absolute;
    margin-top: -30px;
    display: inline-block;
}

label.toggle-item {
    width: 5em;
    background: rgba(0, 0, 0, 0.807);
    height: 2.2em;
    display: inline-block;
    border-radius: 50px;
    margin: 40px;
    position: relative;
    transition: all 0.3s ease;
    transform-origin: 20% center;
    cursor: pointer;
}

label.toggle-item:before {
    display: block;
    transition: all 0.2s ease;
    width: 2em;
    height: 2em;
    top: 0.25em;
    left: 0.25em;
    border-radius: 2em;
    border: 2px solid #fbfbfb;
    transition: 0.3s ease;
}


.checkcross label:before {
    content: none;
}

.checkcross .check {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    position: absolute;
    background: #14c732b4;
    transition: 0.4s ease;
}

.checkcross .check:before,
.checkcross .check:after {
    height: 4px;
    border-radius: 10px;
    background: #fff;
    transition: 0.4s ease;
}

.checkcross .check:before {
    width: 25px;
    transform: rotate(-45deg) translate(-6px, 20px);
}

.checkcross .check:after {
    width: 10px;
    transform: rotate(45deg) translate(20px, 11px);
}

#checkcross:checked+label .check {
    left: 45px;
    transform: rotate(360deg);
    background: #bb1414b2;
}

#checkcross:checked+label .check:before {
    width: 27px;
    transform: rotate(-45deg) translate(-8px, 18px);
}

#checkcross:checked+label .check:after {
    width: 27px;
    transform: rotate(45deg) translate(18px, 8px);
}

/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ------------- */

@media screen and (max-width: 1424px) {
    .productDetail__container h1 {
        color: rgb(1, 3, 84);
        text-shadow: 0 0 1px black;
    }

    .span-pedido {
        position: absolute;
        left: 70%;
        top: 10%;
        text-shadow: 0 0 1px #4a3c3c;
        color: rgb(255, 166, 0);
        font-weight: bolder;
        text-shadow: 0 0 4px rgb(29, 12, 12);
    }

    .productDetail__container {
        width: 80vw;
    }

    .size-container {
        flex-wrap: wrap;
    }

    .image-detail {
        float: right;
        width: 40%;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(0, 0, 0, .1);
    }

    .productDetail__container-span {
        height: 1050px;
        width: 1050px;
        position: absolute;
        margin-left: -500px;
        margin-bottom: -200px;
        z-index: -1;
        background-color: rgba(2, 2, 3, 0.8);
        bottom: 0;
    }

    .close-detail {
        height: fit-content;
    }
}

@media screen and (max-width: 624px) {
    .productDetail__container {
        overflow: scroll;
    }

    .size-container .check__label {
        color: rgb(255, 255, 255);
        font-weight: bolder;
        text-shadow: 0 0 1px white;
    }

    .image-detail {
        float: none;
        width: 100%;
    }

    .productDetail__container-span {
        height: 550px;
        width: 1550px;
        position: absolute;
        margin-left: -600px;
        margin-bottom: -220px;
        z-index: -1;
        transform: rotate(180deg);
        background-color: rgba(2, 2, 3, 0.8);
        bottom: 0;
    }

    .description-content {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .close-detail {
        height: fit-content;
    }

    .check__label {
        font-size: .8rem;
    }
}