.form__container {
    background-color: rgba(31, 30, 19, 0.866);
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__title {
    color: rgb(0, 0, 0);
    text-align: center;
}

.form__user {
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: .5rem;
    height: 80vh;
    border-radius: 20px;
    justify-content: center;
    background-color: #fff;
    overflow-y: scroll;
}


.form__user::-webkit-scrollbar {
    -webkit-appearance: none;
}

.form__user::-webkit-scrollbar:vertical {
    width: 10px;
}

.form__user::-webkit-scrollbar-button:increment,
.form__user::-webkit-scrollbar-button {
    display: none;
}

.form__user::-webkit-scrollbar:horizontal {
    height: 10px;
}

.form__user::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 20px;
    border: 2px solid var(--color-bg)
}

.form__user::-webkit-scrollbar-track {
    border-radius: 10px;
}

.form__container .form__user button {
    width: fit-content;
    align-self: center;
}

.form__user input {
    padding: .2rem;
    border-radius: 7px;
    width: 100%;
}

.form__user input:focus {
    background-color: rgba(223, 206, 200, 0.501)
}

.form__user label {
    font-weight: bold;
}

.form__backbtn {
    position: absolute;
    top: 2rem;
    font-weight: bold;
    font-size: var(--font-size-p);
}