.cardBody {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.image {
    background-color: red;
    width: 190px;
    height: 150px;
}

.info {
    height: 200px;
    width: 190px;
    display: flex;
    flex-direction: column;
}
.info h1 {
    margin: 0;
}